/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

/* BODY */
body {
    width: auto;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    background-image: url(imagens/bg-gif.gif);
    background-repeat: no-repeat;
    background-color: #0b001b;
    background-size: cover;
    
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(146, 1, 83);
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 1, 83);
}


/* home */
.title{
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 20rem 0;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    padding: 25px;
}

span {
    color: rgb(146, 1, 83);
    text-shadow: 0 0 10px #920153;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    padding: 15px;
}

.home-content p {
    font-size: 1.6rem;
}


.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid rgb(146, 1, 83);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.1s ease;
    color: rgb(146, 1, 83);
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(146, 1, 83);
    box-shadow: 0 0 25px rgb(146, 1, 83);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

/* Ajustes Responsivos */
@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}
/* SEÇÃO SOBRE MIM */
.sobre-detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; 
    flex-wrap: wrap; 
}

.sobre .left {
    flex: 1; 
    text-align: justify;
}

.sobre .right {
    text-align: center;
    margin: 25px;
    flex: 0 0 20%;
}

.sobre .imagem-sobre { 
    border-radius: 17px; 
    width: 500px;
    
}

/* Ajustes Responsivos */
@media (max-width: 768px) {
    .sobre-detalhes {
        flex-direction: column;
        text-align: center;
    }

    .sobre .right {
        flex: 0 0 60%;
    }

    .sobre .left {
        flex: 1;
    
    }

    .sobre .imagem-sobre {
        max-width: 100%; 
        height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    }
}

/* Ajustes para a Seção Sobre */
.sobre .topic {
    font-size: 2.5rem;
    color: rgb(146, 1, 83);
    margin-bottom: 1rem;
    padding: 15px;
    font-weight: 500;
}

.sobre p {
    font-size: 1.6rem;
    line-height: 1.7;
    color: white;
    padding: 15px;
}

.sobre .button button {
    padding: 1rem 3rem;
    background-color: rgb(146, 1, 83);
    border: none;
    color: white;
    font-size: 1.6rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sobre .button button:hover {
    background-color: #b74b4b;
}

/* Responsividade na Seção Sobre */
@media (max-width: 768px) {
    .sobre p {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .imagem-sobre {
        max-width: 200px;
        margin-top: 2rem;
        border-radius: 25px;
    }
}

.tools .title{
    text-align: right;
    color: rgb(146, 1, 83);
    text-shadow: 0 0 10px #920153;
    font-size: 5rem;
    font-weight: 800;
    padding-bottom: 0;
}
.tools {
    background-color: #1f1530;
    color: white; 
    padding: 20px;
    text-align: center;
    position: relative;
}

.tools .container {
    max-width: 1200px;
    margin: 0 auto;
}

.rigth {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 30px;  
    align-items: right;
    justify-content: right;
    margin-top: 16px;
}

.rigth img {
    height: 50px;
    width: 50px; 
    object-fit: contain;
    transition: transform 0.3s ease-in-out; 
}

.rigth img:hover {
    transform: scale(1.2); 
}

@media (max-width: 768px) {
    .rigth {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .rigth img {
        height: 40px; 
        width: 40px;
    }
    .tools .title{
        text-align:center;
    }
}


/* Footer */
footer {
    background-color: #16161600;
    padding: 2rem;
    text-align: center;
}

footer .text {
    font-size: 1.4rem;
    color: white;
}

footer .text a {
    color: rgb(146, 1, 83);
    text-decoration: none;
}

footer .text a:hover {
    color: rgb(146, 1, 83);
    text-shadow: #920153;
}

/*projetos*/



.contato .title{
    text-align: left;
    color: rgb(146, 1, 83);
    text-shadow: 0 0 10px #920153;
    font-size: 5rem;
    font-weight: 800;
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.contato {
    background-color: #12121200; 
    color: #fff; /* Cor do texto branco */
    padding: 50px 20px;
    text-align: center;
}

.contato .content {
    margin: 0 auto;
}

.text {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 1.6rem;
}

.left {
    flex: 1;
    text-align: left; 
    max-width: 800px; 
}

.left .topic {
    font-size: 2.5rem;
    color: rgb(146, 1, 83);
    font-weight: 500;
    padding-bottom: 15px;
    position: top;
}

.contato.left p {
    font-size: 1.6rem;
    color: #ffffff; 
    line-height: 1.6;
}

/* Imagem do lado direito */
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .text {
        flex-direction: column;
        text-align: center; 

    .left {
        max-width: 100%; /* O texto pode ocupar toda a largura disponível */
        margin-bottom: 20px; /* Espaçamento inferior em telas pequenas */
    }

    .right img {
        max-width: 90%; /* Limita o tamanho da imagem em telas menores */
        margin-top: 20px; /* Espaçamento superior para separar do texto */
    }
}

